.m-content {
    width: calc(100% - 225px);
    height: calc(100vh - 60px);
    padding: 8px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.m-content .search-bar {
    text-align: left;
    background-color: transparent;
    padding: 8px;
    display: flex;
}

.m-content .search-bar .searchbox {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
    box-sizing: border-box;
    width: fit-content;
}

.m-content .search-bar .hospital-select {
    margin-left: 16px;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
    box-sizing: border-box;
    width: fit-content;
}

.m-content .tab-pane {
    display: flex;
    height: calc(100vh - 140px);
    flex-direction: column;
}

.tab-pane .tab-pane-content {
    overflow: auto;
}

.m-content .grid-table {
    overflow: auto;
}

.m-content .content-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-body {
    display: block;
    margin: 10px auto;
    max-height: calc(100vh - 200px);
    overflow: auto;
}