.x-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.x-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.x-col-6 {
    width: 50%;
}

.x-col-12 {
    width: 100%;
}

.x-col-3 {
    width: 25%;
}

.x-col-9 {
    width: 75%;
}

.x-col-4 {
    width: 33.333333%;
}

.x-col-8 {
    width: 66.666667%;
}

.x-col-5 {
    width: 41.666667%;
}

.x-col-7 {
    width: 58.333333%;
}

.x-col-10 {
    width: 83.333333%;
}

.x-col-2 {
    width: 16.666667%;
}