.m-header {
    display: flex;
    height: 60px;
    background-color: #337AB7;
    color: #fff;
}

.m-header-login {
    height: 90px;
    padding: 0px;
}

.m-header .app-title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 24px;
}

.m-header .name {
    font-size: 24px;
    line-height: 24px;
    box-sizing: border-box;
    align-content: center;
}