.m-navbar {
    width: 225px;
    background-color: #ccc;
    height: calc(100vh - 60px);
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.m-navbar a {
    text-decoration: none;
    color: #444;
}

.m-navbar a:hover {
    color: #111;
}

.m-navbar .navbar-item {
    height: 36px;
    font-size: 20px;
    line-height: 20px;
    padding: 8px;
    display: block;
    margin: 4px 16px;
}

.m-navbar .navbar-item:hover {
    background-color: #aaa;
}

.navbar-item.router-link-exact-active.router-link-active {
    background-color: var(--bs-primary);
}