.mi {
    background-repeat: no-repeat;
    cursor: pointer;
}

.mi-16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.mi-24 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.mi-32 {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.mi-36 {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.mi-search {
    background-image: url(../../assets/icons/search.svg);
}