.m-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 700;
}

.m-option-label {
    font-size: 13px;
    font-weight: normal;
}

.m-label-error {
    color: red;
    font-size: 10px;
}

.m-label-success {
    color: green;
    font-size: 10px;
}